<html>
  <head>
    <script type="text/javascript" src="script/canvasjs.min.js"></script>
  </head>
  <body>


  <% _.each(discount.widgets, function(widget, widgetIndex) { %>
    <% if( widget.name ) { %>
      <h2><%= widget.name %></h2>
    <% } %>

    <%- widget.process(discount.stat(), widgetIndex) %>

  <% }); %>


  </body>
</html>

