<html>
  <head>
    <script type="text/javascript" src="script/canvasjs.min.js"></script>
  </head>
  <body>
    <img src="/img/stats.jpg" />


  <% _.each(nodestat.widgets, function(widget, widgetIndex) { %>
    <h2><%= widget.name %></h2>

    <%- widget.process(nodestat.stat(), widgetIndex) %>

  <% }); %>


  </body>
</html>

