
<% if( set.size==0 ) { %>
  No statistics yet...
<% } %>

<table>
  <% _.each(set.sortedKeys(), function(key) { %>
    <tr>
      <td><%= key %></td>
      <td><%= set.get(key) %></td>
    </tr>
  <% }) %>
</table>

